<?xml version="1.0" encoding="utf-8"?>
<!--
TODO: Documentation
-->
<packages>
  
  <package
      id="CBT.NuGet"
      version="1.0.0-beta2"
      />

  <package
      id="CBT.Microsoft.Common.targets"
      version="0.0.7-alpha"
      />

  <package
      id="CBT.Microsoft.CSharp.targets"
      version="0.0.7-alpha"
      />

  <package
      id="CBT.Microsoft.VisualBasic.targets"
      version="0.0.7-alpha"
      />

  <package
      id="CBT.Microsoft.Cpp.targets"
      version="0.0.7-alpha"
      />
  <!--
  CBT.Traversal
  Usage: Allows for "traversal" projects within the source control tree.  Project files must be named "dirs.proj" and look like:
  
    <Project xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  
      <Import Project="$([MSBuild]::GetDirectoryNameOfFileAbove($(MSBuildThisFileDirectory), build.props))\build.props" />
  
      <ItemGroup>
        <ProjectFile Include="Directory\Project.csproj" />
      </ItemGroup>

      <Import Project="$(TraversalTargets)" />
    </Project>
 
  -->
  <package
    id="CBT.Traversal"
    version="1.0.0-beta1"
      />
  <!-- CBT.Traversal -->
  
  <!--
  CBT.AssemblyVersioning
  Usage: Manages assembly versions.
  -->
    <!--<package
      id="CBT.AssemblyVersioning"
      version="1.0.0"
      />-->
  <!-- CBT.AssemblyVersioning -->
</packages>
